# SPDX-FileCopyrightText: 2015 Eric Larson
#
# SPDX-License-Identifier: Apache-2.0

tests/_sync

.DS_Store
*.pyc
*.pyo
*.egg-info/*
dist
bin
lib
lib64
include
.Python
docs/_build
build/
.tox
.idea/
.coverage
.pytest_cache/
.mypy_cache/
__pycache__/
htmlcov/
site/
venv*/
.python-version
htmlcov/
