-r requirements.txt

pytest
pytest-cov
pytest-asyncio
pytest-mock
mock
types-mock
cherrypy
freezegun
types-freezegun
autoflake
black
isort
autoflake
flake8
flake8-bugbear
git+git://github.com/python/mypy@2ebdbca3b5afbfa1113f01b583522f4afcc4b3e3#egg=mypy
unasync
