# Packaging
twine==3.7.1
wheel==0.38.1

# Testing
autoflake==1.4
black==22.3.0
CherryPy==18.6.1
coverage==6.3.2
flake8==4.0.1
flake8-bugbear==22.1.11
freezegun==1.2.0
isort==5.10.1
mock==4.0.3
mypy==0.941
pyparsing==3.0.7
pytest==7.1.0
pytest-asyncio==0.18.2
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-timeout==2.1.0
types-dataclasses==0.6.4
types-freezegun==1.1.7
types-mock==4.0.11
unasync==0.5.0
